bin/* filter=lfs diff=lfs merge=lfs -text
tinysh filter=lfs diff=lfs merge=lfs -text
et2 filter=lfs diff=lfs merge=lfs -text
sed filter=lfs diff=lfs merge=lfs -text
dash filter=lfs diff=lfs merge=lfs -text
daft-dhcp-client filter=lfs diff=lfs merge=lfs -text
micro-http filter=lfs diff=lfs merge=lfs -text
sash filter=lfs diff=lfs merge=lfs -text
smu filter=lfs diff=lfs merge=lfs -text
snake filter=lfs diff=lfs merge=lfs -text
snake-mikro filter=lfs diff=lfs merge=lfs -text
splitvt filter=lfs diff=lfs merge=lfs -text
totp filter=lfs diff=lfs merge=lfs -text
tic filter=lfs diff=lfs merge=lfs -text
fromhex filter=lfs diff=lfs merge=lfs -text
tohex filter=lfs diff=lfs merge=lfs -text
nc filter=lfs diff=lfs merge=lfs -text
term_readkey filter=lfs diff=lfs merge=lfs -text
base91 filter=lfs diff=lfs merge=lfs -text
signify filter=lfs diff=lfs merge=lfs -text
base32 filter=lfs diff=lfs merge=lfs -text
base32d filter=lfs diff=lfs merge=lfs -text
lsmod filter=lfs diff=lfs merge=lfs -text
socks filter=lfs diff=lfs merge=lfs -text
proxy filter=lfs diff=lfs merge=lfs -text
tcpserver filter=lfs diff=lfs merge=lfs -text
dighosts filter=lfs diff=lfs merge=lfs -text
tinysshd filter=lfs diff=lfs merge=lfs -text
xorg/old/slterm filter=lfs diff=lfs merge=lfs -text
xorg/old/slterm.xz filter=lfs diff=lfs merge=lfs -text
xorg/slterm filter=lfs diff=lfs merge=lfs -text
xorg/xclip filter=lfs diff=lfs merge=lfs -text
xorg/xdo filter=lfs diff=lfs merge=lfs -text
xorg/slterm.0.99.5.1 filter=lfs diff=lfs merge=lfs -text
xorg/slterm.0.99.2.xz filter=lfs diff=lfs merge=lfs -text
xorg/slterm.0.99.5.xz filter=lfs diff=lfs merge=lfs -text
xorg/slterm.0.99.5.1.xz filter=lfs diff=lfs merge=lfs -text
xorg/slterm.0.99.2 filter=lfs diff=lfs merge=lfs -text
xorg/slterm_0.99.5.6.devel filter=lfs diff=lfs merge=lfs -text
xorg/slterm_0.99.5.7 filter=lfs diff=lfs merge=lfs -text
conv filter=lfs diff=lfs merge=lfs -text
lockfile filter=lfs diff=lfs merge=lfs -text
ascii filter=lfs diff=lfs merge=lfs -text
setdate filter=lfs diff=lfs merge=lfs -text
statx filter=lfs diff=lfs merge=lfs -text
xzminidec filter=lfs diff=lfs merge=lfs -text
cpconv filter=lfs diff=lfs merge=lfs -text
utf8conv filter=lfs diff=lfs merge=lfs -text
xzd filter=lfs diff=lfs merge=lfs -text
fosh filter=lfs diff=lfs merge=lfs -text
pdksh filter=lfs diff=lfs merge=lfs -text
printf filter=lfs diff=lfs merge=lfs -text
usleep filter=lfs diff=lfs merge=lfs -text
lowdown filter=lfs diff=lfs merge=lfs -text
thttpd filter=lfs diff=lfs merge=lfs -text
md6sum filter=lfs diff=lfs merge=lfs -text
sha1sum filter=lfs diff=lfs merge=lfs -text
ls filter=lfs diff=lfs merge=lfs -text
xflag filter=lfs diff=lfs merge=lfs -text
ip filter=lfs diff=lfs merge=lfs -text
blake2sum filter=lfs diff=lfs merge=lfs -text
blake3sum filter=lfs diff=lfs merge=lfs -text
blake2bsum filter=lfs diff=lfs merge=lfs -text
base filter=lfs diff=lfs merge=lfs -text
readkey filter=lfs diff=lfs merge=lfs -text
3proxy filter=lfs diff=lfs merge=lfs -text
dig filter=lfs diff=lfs merge=lfs -text
mksh filter=lfs diff=lfs merge=lfs -text
iptables filter=lfs diff=lfs merge=lfs -text
strace filter=lfs diff=lfs merge=lfs -text
lspci filter=lfs diff=lfs merge=lfs -text
getty filter=lfs diff=lfs merge=lfs -text
tcc filter=lfs diff=lfs merge=lfs -text
xorg/dzen2 filter=lfs diff=lfs merge=lfs -text
aespipe filter=lfs diff=lfs merge=lfs -text
argon2 filter=lfs diff=lfs merge=lfs -text
polipo filter=lfs diff=lfs merge=lfs -text
sdhcp filter=lfs diff=lfs merge=lfs -text
dbclient filter=lfs diff=lfs merge=lfs -text
dhconf filter=lfs diff=lfs merge=lfs -text
dropbear filter=lfs diff=lfs merge=lfs -text
